/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$family-sans-serif: "Lato", "Open Sans", "Roboto", BlinkMacSystemFont,
-apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira
Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial",
sans-serif;

$navbar-height: 4rem;
$off-grey-color: rgb(247, 250, 252);
$border-grey: rgb(227, 232, 238); //#e2e7ee

@import "bulma";
@import "../stylesheets/icons.scss";
@import "../stylesheets/sidebar.scss";
@import "../stylesheets/variation.scss";

#maxContainer, #navbarBasicExample {
  //fix width layout - not sure
  /*max-width: 1920px;*/
}

#navbarBasicExample {
  box-shadow: $border-grey -1px 1px 0px 0px;
}

#search-control {
  @include from($desktop) {
    width: 40rem;
  }
}

#maxContainer {
  background: #fff;
  min-height: 100vh;

  @include from ($desktop) {
    box-shadow: $border-grey -1px 0px 0px 0px;
  }
}

main.container{
  margin-top: 12px;
  background: #fff;

  @include from($desktop) {
    //background: $off-grey-color;
    //container extends behind the sidebar and content, so
    //different left and right end colors are handled via gradient :|
    background: linear-gradient(90deg, $off-grey-color 0%, #fff 100%);
  }

}

footer {
  border-top: 1px solid #000;
}

.is-size-6-5 {
  font-size: .875rem !important;
}

.mt-3-tablet {
  @include from($tablet) {
    margin-top: 0.75rem;
  }
}

/*
 * navbar
 */
#signin {
  border: 1px solid #dbdbdb;
}

#signup {
  //matches is-primary color
  border: 1px solid #d1eae6;
}

/*
 * profile#index
 */
#profile-filter-search-control {
  width: 20rem;
}

/*
* profile#show
*/
//ellipsis text
.company-info > div, .experiment-header > p, .variation a {
  overflow:hidden;
  text-overflow: ellipsis;
  max-width: calc(100vw - 150px);
  @include from ($desktop) {
    max-width: calc(50vw - 170px);
  }
}

.profile_favicon {
  display:inline-block;
  width: 1.25rem; //match is-size-5 font
}

.experiment i.fa-check {
  color: green;
}


/*
 * num_expvar partial
 */
.expvar-wrapper {
  min-width: 225px;
}

.expvar {
  display: inline-flex;
  padding-right: 1.5rem;

  @include from($desktop) {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 0rem;
  }
}

.expvar_label {
  min-width: 70px
}
