/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$family-sans-serif: "Lato", "Open Sans", "Inter", BlinkMacSystemFont,
-apple-system, sans-serif;

$tablet: 768px;
$touch: 1023px;

$navbar-height: 2rem;
$off-grey-color: rgb(247, 250, 252);
$border-grey: rgb(227, 232, 238); //#e2e7ee

@import "bulma";
@import "../stylesheets/icons.scss";
@import "../stylesheets/menu.scss";
@import "../stylesheets/expvar.scss";
@import "../stylesheets/sidebar.scss";
@import "../stylesheets/variation.scss";
@import "../stylesheets/profile.scss";
@import "../stylesheets/devise.scss";
@import "../stylesheets/checkout.scss";
@import "../stylesheets/footer.scss";
@import "../stylesheets/user.scss";
@import "../stylesheets/landing.scss";
@import "../stylesheets/modal.scss";
@import "../stylesheets/search.scss";

/* logo */
.abrepo {
  font-family: 'Dosis', sans-serif;
  font-weight: 600 !important;
}

.navbar-brand {
  font-family: 'Dosis', sans-serif;
  font-weight:600;
  font-size:32px;
}

.mx-0-mobile {
  @include until($tablet) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.is-absolute {
  position: absolute;
}
.is-fullheight {
  min-height: 100vh;
}

.is-fullwidth-tablet {
  @include from($tablet) {
    width: 100%;
  }
}

.is-fullwidth-mobile {
  @include until($tablet) {
    width: 100%;
  }
}

.is-flex-direction-column-reverse-mobile {
  @include until($tablet) {
    flex-direction: column-reverse;
  }
}

.is-size-6-5 {
  font-size: .875rem !important;
}

.is-size-5-5 {
  font-size: 1.125rem !important;
}

.mt-3-tablet {
  @include from($tablet) {
    margin-top: 0.75rem;
  }
}

@media(max-width: $tablet) {
  .reverse-columns-tablet {
    flex-direction: column-reverse;
    display: flex;
  }
}
