/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$family-sans-serif: "Lato", "Open Sans", "Roboto", BlinkMacSystemFont,
-apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira
Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial",
sans-serif;

$tablet: 768px;

$navbar-height: 2rem;
$off-grey-color: rgb(247, 250, 252);
$border-grey: rgb(227, 232, 238); //#e2e7ee

@import "bulma";
@import "../stylesheets/icons.scss";
@import "../stylesheets/menu.scss";
@import "../stylesheets/expvar.scss";
@import "../stylesheets/expvar_num_expvar.scss";
@import "../stylesheets/variation.scss";
@import "../stylesheets/profile.scss";
@import "../stylesheets/devise.scss";
@import "../stylesheets/checkout.scss";

.is-fullwidth-tablet {
  @include from($tablet) {
    width: 100%;
  }
}

/* SECTION */
section.section {
  //TODO: adjust once <footer> is built
  //on login want min-height to reach footer
  min-height: 80vh;
}

footer {
  border-top: 1px solid #000;
}

.is-size-6-5 {
  font-size: .875rem !important;
}

.mt-3-tablet {
  @include from($tablet) {
    margin-top: 0.75rem;
  }
}
