.steps {
  color: rgba(54, 54, 54, 0.3);
}
.steps .bullet {
  color: #4a4a4a;
  margin: 0 1.5rem;
}
.steps .active {
  color: #4a4a4a;
}

.pricing {
  color: rgba(0,0,0,.54);
}
.stripe {
  margin: 0 auto;
  width: 25%;
}
ul.features {
  list-style:none;
}
.disclaimers { font-size:12px;}
