.role-filter {
  min-height: 550px;
  font-family: 'lato';
  overflow:clip;

  .dropdown .dropdown-menu {
    width: 20rem;
  }

  #search-control-tag {
    width: 20rem;
    overflow: auto;
  }

  .searchFilterInput {
    border: medium none;
    box-shadow: none;
  }

  margin-left: -0.5rem;

  .role-filter-tags {
    margin-left: 14.5rem;
  }

  .is-delete {
    cursor: auto;
  }
}

