/* Before & After */

.role-before-after {
  .button {
    border: none;
    background: #6b006a;
    color: white;
  }

  .button.button-secondary {
    background: white;
    color: #6b006a;
    border: 1px solid #6b006a;
  }
}


//Expvar Panel (Role 1 dog)
.landing-role-before-after {
  opacity: .5;
}

.expvar-panel {
  background: white;
  padding: 1rem;
  width: 100%;
  /*
  bottom: -4rem;
  left: -4rem;

  @include until($tablet) {
    bottom: -10rem;
    left: 0;
    width:100%;
  }
*/
}
/*
.landing-experiment-header {
  max-width: 100%;
  @include from($desktop) {
    width: 700px; //issue
  }
}
*/

@keyframes FadeOutIn {
  /* from { opacity: 1;} */
  /* to {opacity: 0;} */

  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeInOut {
  /* from { opacity: 0;} */
  /* to {opacity: 1;} */

  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.role-before-after-a {
  animation: FadeOutIn 4s ease-in-out infinite;
}

.role-before-after-b {
  animation: FadeInOut 4s ease-in-out infinite;
}
