/*
 *  ROLE 2 (eiffel tower)
 */
.role-2 {
  .columns {
    height: 550px;
    @include until($tablet) {
      padding: .5rem !important;
    }
  }

  .img-1, .img-2 {
    width: 100%;
    height: 100%;
  }
  .img-1 {
    background-size: cover;
    background-position: top;
    margin-right: .25rem;
    border: 1px solid black;
  }

  .img-2 {
    background-size: cover;
    background-position: right;
    margin-left: .25rem;
    border: 1px solid black;


  }

}

.role-2-title-1 {

  top: 3rem;

  @include from($tablet) {
    top: 4rem;
    left: 2rem;
  }

  h4 {
    color: white;
    opacity: .9;
    margin-bottom: 0;
    text-shadow: 2px 2px black;

    //change mobile
    font-size: 2.5rem;
    padding: 1rem;
  }

}
.role-2-title-2 {

  top: 3rem;

  @include from($tablet) {
    top: 6rem;
    right: 2rem;
  }

  h4 {
    color: white;
    opacity: .9;
    margin-bottom: 0;
    text-shadow: 2px 2px black;

    //change mobile
    font-size: 2.5rem;
    padding: 1rem;
  }

}

//Diff Summary
.role-2-diffPanel {
  top: 17rem;
  right: 0;
  background: white;

  @include from($tablet) {
    right: -12%;
  }

}


//role2 diffpanel hover

@keyframes BorderOffOn {
  from {
    outline: none;
  }
  to {
    outline: 3px dashed hsl(141, 71%, 48%);
    //outline: 3px solid blueviolet;
  }
}

.diff-1, .diff-img-1 {
  animation: BorderOffOn 4s ease-in-out infinite;
}

.diff-2, .diff-img-2 {
  animation: BorderOffOn 4s ease-in-out infinite;
  animation-delay: 2s;
}


