/* TOP NAVBAR */
nav {
  border-bottom: 1px solid rgb(227, 232, 238);
}

#search-control {
  @include from($desktop) {
    width: 30rem;
  }
}

.navbar-menu, .navbar-brand {
  min-height: 4rem;
}

a.navbar-item, .navbar-link {
  &:focus, &:focus-within, &:hover {
    background-color: hsl(0, 0%, 100%);
  }
}

.navbar > .container.is-fluid {
  @include until ($desktop) {
    padding: 0 $gap / 2;
  }
}

/*
 * navbar buttons
 */
#signin {
  border: 1px solid #dbdbdb;
}

#signup {
  //matches is-primary color
  border: 1px solid #d1eae6;
}
