/* profile#index */
.profile-card .card-content {
  padding: 1.5rem 0;
}

.media figure {
  margin-left: 0rem;
}

/*
 * profile#show
 * also expvar
 */

.profile_favicon {
  display:inline-block;
  width: 1.25rem; //match is-size-5 font
  vertical-align:middle;
}
