.sidebar {
  width: 240px;
}

.navbar-logo {
  width: calc(264px + 1.25rem); /*align search bar with main columns*/
}


.menu {
  position: fixed;
  margin-left: -2rem;
  .icon-text .text {
    padding-left: .5rem;
  }
}


.navbar-menu, .navbar-brand {
  background: $off-grey-color
}

/* panel right */
.sidebar-panel {
  height: 400px;

  border-radius:3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 1px 4px 0px, rgba(0, 0, 0, 0.05) 0px 2px 8px 0px
}

/* SIDEBAR */
/* TODO change color schema*/
.sidebar-panel-header {
  padding: .75rem;
  border-bottom: 1px solid rgb(241, 229, 188);
  background: rgb(251, 242, 212)
}

.sidebar-panel-body {
  padding: .75rem;
  border-bottom: 1px solid rgb(241, 229, 188);
  background: #fff9e6
}
