/* variation detail */

.variation-stats {
  min-width: 200px;
  text-align: right;
}

/* variation#show */
button {
  cursor: pointer;
}

.diffPanel .diff {
  overflow-wrap: break-word;
}
/* action */
