/* variation detail */

$addColorIcon: #228b22; //green;
$removeColorIcon: #e03c31; //red

.variation-stats {
  min-width: 200px;
  text-align: right;
}

/* variation#show */
button {
  cursor: pointer;
}

/*
 * Diff Panel
 */
.diffPanel {
  z-index: 10;
}
.diffPanel h4 {
  padding-left: .75rem;
}
.diffPanel .diff {
  overflow-wrap: break-word;
  border-top: 1px solid whitesmoke;
  &:last-child {
    border-bottom: 1px solid whitesmoke;
  }
}

.diffPanel .diff-summary-delta {
  text-transform: capitalize;
}
.diff-summary span:first-letter {
  text-transform: capitalize;
}

button.diffDetail {
    height: 20px;
    border: 0px;
    background: transparent;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid transparent;
        color: blue;
    }
}

.diffPanel .icon-add {
  color: $addColorIcon;
  font-weight:900;
  font-size:.85rem;
}
.diffPanel .icon-remove {
  color: $removeColorIcon;
  font-weight:900;
  font-size:.85rem;
}



/*
 * action control
 */
#ActionControlPanel {
  position:sticky;
  top: 4rem;
  background: white;
  z-index: 11; //NB: drawSVGRects() sets zIndex to 10
  .controls {
    margin-top: -1.5rem;
  }

  @include until ($desktop) {
    margin-left: -2px;
    margin-right: -2px;
  }
}

/* firefox v chrome appears different
.controls button {
  line-height:1.5rem;
  font-weight:400;
  padding: 2px 8px;
}
*/
