/* variation detail */

$addColorIcon: #228b22; //green;
$removeColorIcon: #e03c31; //red

section.variation .tags {
  @include from($desktop) {
    margin-top: -.75rem;
  }
}

/* variation#show */
button {
  cursor: pointer;
}

/*
 * Diff Panel
 */
.diffPanel {
  z-index: 10;
}
.diffPanel h4 {
  padding-left: .75rem;
}
.diffPanel .diff {
  overflow-wrap: break-word;
  border-top: 1px solid whitesmoke;
  &:last-child {
    border-bottom: 1px solid whitesmoke;
  }
}

.diffPanel .diff-summary-delta:first-letter {
  text-transform: capitalize;
}
.diff-summary span:first-letter {
  text-transform: capitalize;
}

.diffPanel .cssbox{
  display: inline-flex;
  align-items: center;

  width: .75rem;
  height: .75rem;
  border: 1px solid black;
  padding-bottom: .25rem;
  margin: 0 .25rem 0 .125rem;
  border-radius: .125rem;
}

button.diffDetail {
    height: 20px;
    border: 0px;
    background: transparent;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid transparent;
        color: blue;
    }
}

.diffPanel .icon-add {
  color: $addColorIcon;
  font-weight:900;
  font-size:.85rem;
}
.diffPanel .icon-remove {
  color: $removeColorIcon;
  font-weight:900;
  font-size:.85rem;
}

/*
 * DiffPanel DiffSummary
 */

.diffPanel .diff-summary .summary-text {
  word-break: break-word;
}

/*
 * Bbox wiggle animation
 */

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.shake {
  animation: shake 1s cubic-bezier(.5, .25, .25, 1) both;
  transform: translate3d(0, 0, 0);
}

/*
 * action control
 */
#ActionControlPanel {
  position:sticky;
  top: 4rem;
  background: white;
  z-index: 11; //NB: drawSVGRects() sets zIndex to 10
  .controls {
    margin-top: -1.5rem;
  }

  @include until ($desktop) {
    margin-left: -2px;
    margin-right: -2px;
  }
}
