global
    # global settings here
    log stdout local0
    log stdout local1 notice

defaults
    # defaults here
     balance roundrobin
     log global
     mode http
     option httplog
     timeout connect 60s
     timeout client 60s
     timeout server 60s
     maxconn     10000

# ssh -L 8404:localhost:8404 to view
frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if LOCALHOST

resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold other      10s
    hold refused    10s
    hold nx         10s
    hold timeout    10s
    hold valid      10s
    hold obsolete   10s

frontend web
    # a frontend that accepts requests from clients
    # NB: can't bind directly to reserved ports, e.g port 80
    # but can expose host 80 to container 8081
    #
    # terminate ssl here, and send to non-ssl nginx:80
    # NB: keep alive is default in haproxy
    bind *:8888 ssl crt /etc/letsencrypt/live/abrepo.com/abrepo.pem
    default_backend web_servers

backend web_servers
    # servers that fulfill the requests
    server server1 nginx:8080 check resolvers docker init-addr libc,none
